.quote {
    width: 50%;
    color: $white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    &__top {
        display: flex;
        font-size: 1.8rem;
        line-height: 2.8rem;
        & img {
            margin-top: 0.8rem;
            margin-left: 1.6rem;
            opacity: 0.5;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .quote__top {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

@media screen and (max-width: 480px) {
    .quote {
        width: 100%;
    }
}
